@model IEnumerable<AulasRazorMVC.Models.Disco>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&display=swap" rel="stylesheet">
</head>
<body class="container-fluid">
    @if (ViewBag.Mensagem != null)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-warning">
                    @ViewBag.Mensagem
                </div>
            </div>
        </div>
    }
    <div class="w-100">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.disco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.faixas)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.disco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.faixas)
                    </td>
                    <td>@Html.ActionLink("Atualizar", "AtualizaDisco", new { id = item.disco })</td>
                    <td>
                        @Html.ActionLink("Delete", "ApagaDisco", new { id = item.disco },
                            new { onclick = "return confirm('Você tem certez que deseja excluir o Disco?');" })
                    </td>
                </tr>
            }
        </table>
        <div>
            @Html.ActionLink("Adiciona Disco", "AdicionaDisco")
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>

